TanukiProject/Assets/AssetStoreTools*
TanukiProject/Library/*
TanukiProject/.vs/
TanukiProject/UnityGenerated/
TanukiProject/Obj/
TanukiProject/Temp/
Temp/
Obj/
UnityGenerated/
TanukiProject/.vs/
/Library/*
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

TanukiProject/Library/